body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  text-decoration: none;
}

#root{
  max-width: 455px;
  width: 100%;
  height: 100vh;


}
button{
  border: none;
}
.main{
  max-width: 450px;
  width: 100%;
  height: 100vh;
  background-color:  #f3f3f3;;
}

nav{
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 2px 0;
  justify-content: space-around;
}
nav  button{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}


#uc{
  background-color:#74298A ;
  color: white;
  font-weight: 700;
}

#be{
  background-color: #FFC500;
}

#mo{
  background-color: #FF1C25;
  color: white;
  font-weight: 700;
}

#uz{
  background-color: #00B5FF;
  color: white;
  font-weight: 700;
}
.nav__link{
  border: 2px solid transparent;
  outline: 2px solid transparent;
  border-radius: 50%;
  transition: .3s;
}
.nav__link.active{
  border: 2px solid #fff;
  outline: 2px solid blueviolet;
}


/* ********* ucell  cart start************ */


.ucell_carts{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 22%;
  flex-wrap: wrap;
  gap: 10px;
}
.card{
  width: 160px;
  height: 80px;
  background-color: #115DA9;
  border-radius: 12px;
  color: white;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 15px;
  gap: 5px;
  font-size: 15px;

} 

.deg{
  position: absolute;
  width: 70%;
  height: 100px;
  background-color: red;
  bottom: 0;
 border-radius: 203px 196px 50px 50px / 150px 150px 25px 25px;

}

h1{
  color: red;
}

table{
  width: 100%;
  overflow: scroll;
  

}


th{
  width: 50%;
}





@media (max-width:350px) {

.ucell_carts{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 3%;
  flex-wrap: wrap;
  gap: 10px;
}
  .card{
  width: 130px;
  height: 50px;
  background-color: #115DA9;
  border-radius: 12px;
  color: white;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 15px;
  gap: 5px;
  font-size: 15px;

} 
  
}